* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

dialog::backdrop {
    background: rgba(41,150,195,.25);
}

#dialog {
    width: 400px;
    height: 250px;
    margin-left: 40%;
    border-radius: 20px;
    background: rgb(69, 109, 219);
    color:white;
    position: sticky;
}

label {
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

menu{
    display:flex;
    justify-content: center;
}

#backBtn {
    color: white;
    font-size: 25px;
    margin: 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom, lightblue, skyblue);
    border-radius: 10px 10px 10px;
    border-color: skyblue;
    width:200px;
}

header {
    margin: 15px;
    padding: 0;
    display: flex;
    justify-content:left;
}


h1 {
    display: inline-block;
    text-align:center;
    background-color: white;
    color: skyblue;
    font-weight: bolder;
    font-size: 40px;
    padding: 15px 150px;
    margin: 5px;
    border-radius: 20px;
}

h2 {
    position: relative;
    left: 25%;
    margin: 50px 0 60px 20px;
    color: white;
    padding-top: 20px;
}

.span2 {
    background-color: skyblue;
    border-radius: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    position: relative;
    left: 10%;
}

.search-results{
    background-color: skyblue;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    left: 10%;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url(../images/pexels-stas-knop-1340588.jpeg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:cover;
}

.hero {
    width: 700px;
    height: 700px;
    border-radius: 20px 20px 20px 20px;
    margin-bottom: 10%;
   
}

/* SEARCH FUNCTION */
.card {
    width: 700px;
    height: 100%;
    background-color: white;
    position: relative;
    top: 50px; left: 700px;
    border-radius: 20px 20px 20px 20px;
}

button:hover {
    background-image: linear-gradient(to bottom, skyblue, steelblue);
}

.button {
    position: relative;
    left: 10%;
    color: white;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(to bottom, lightblue, skyblue);
    border-radius: 10px 10px 10px;
    border-color: skyblue;
    width:fit-content;
}

textarea {
    position:relative;
    left: 5%;
    width: 30%;
    padding-left: 50px;
    padding-top: 10px;
    border: 1px solid black;
}

.styleputter {
    font-weight: bolder;
    font-size: 40px;
}

.list-inside{
list-style-position: inside;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

img {
    width:fit-content
}

#flex {
    display:flex;
    flex-direction: column;
    
}

